*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: inherit;
  font-size: 16px;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: #fff;
}

.debug {
  border: 1px solid #ffdd40;
}

.load-page {
  background: #09090e;
  z-index: 9999;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: fixed;
  animation: page-fade-in 3s ease-in-out;
  opacity: 0;
}

@keyframes page-fade-in {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/************************************
 * Section overlay
 *************************************/

#moon-container {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-start;
  z-index: 1;
}

/************************************
 * Section parts that gets used in all sections
 *************************************/

section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.container {
  display: flex;
  width: 384px;
  margin-left: 128px;
  height: 100%;
  align-items: center;
  z-index: 1;
}

.container .content {
  width: 100%;
}

.container .content span {
  display: block;
  width: 250px;
  height: 5px;
  border-radius: 3px;
  z-index: 1;
  margin-bottom: 5px;
  margin-left: 20px;
}

.container .content span:nth-last-child(2) {
  margin-left: 110px;
}

.gold-dark {
  background: #a67c00;
}

.gold-light {
  background: #bf9b30;
}

.extra {
  min-width: 512px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.titles {
  display: block;
  font-size: 5em;
}

.subtitle {
  font-size: 3em;
  margin: 20px;
}

/**
 * Page Sections
 */

#home {
  height: 100vh;
  width: 100%;
  background: #09090e url(../images/stars.png) repeat top center;
}

#projects {
  height: 100vh;
  width: 100%;
  background: #181824 url(../images/stars2.png) repeat top center;
}

#about {
  height: 100vh;
  width: 100%;
  background: #27273c url(../images/stars.png) repeat top center;
  ;
}

#contact {
  height: 100vh;
  width: 100%;
  background: #363654 url(../images/stars2.png) repeat top center;
}

/**
 * Twinkling Stars
 */

.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#home .twinkling {
  top: 0;
  background: transparent url(../images/twinklinghome.png) repeat top center;
  animation: twinkling-stars 200s linear infinite;
}

#projects .twinkling {
  top: 100%;
  background: transparent url(../images/twinklingprojects.png) repeat top center;
  animation: twinkling-stars 200s linear infinite;
}

#about .twinkling {
  top: 200%;
  background: transparent url(../images/twinklingabout.png) repeat top center;
  animation: twinkling-stars 200s linear infinite;
}

#contact .twinkling {
  top: 300%;
  background: transparent url(../images/twinklingcontact.png) repeat top center;
  animation: twinkling-stars 200s linear infinite;
}

@keyframes twinkling-stars {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -10000px 5000px;
  }
}

/**
 * Moons
 */

.moon-overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.3;
  background: #a67c00;
  z-index: 5;
}

.moon-link {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  font-size: 4em;
  text-decoration: none;
  font-weight: 700;
}

.moon-link-projects {
  color: #181824;
}

.moon-link-about {
  color: #27273c;
}

.moon-freya-perspective {
  width: 450px;
  height: 450px;
  display: inline-block;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  transition: all 1s ease-in;
}

.home-moon {
  margin-top: -100px;
  margin-left: -75px;
}

.projects-moon {
  margin-top: 0px;
  margin-left: 0px;
}

.about-moon {
  margin-top: 250px;
  margin-left: 40px;
}

.contact-moon {
  margin-top: 600px;
  margin-left: 50px;
}

.moon-freya {
  display: inline-block;
  transform-style: preserve-3d;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: relative;
  background: url('../images/freya.png') repeat-x;
  animation: move-moon-freya 90s infinite linear;
  z-index: 2;
}

.moon-freya:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset -30px 10px 50px 15px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

@keyframes move-moon-freya {
  0% {
    background-position: -900px 0;
  }

  100% {
    background-position: 0 0;
  }
}

/****************************************
 * Media Queries
 ***************************************/

@media all and (min-width: 768px) and (max-width: 1024px),
only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

  html {
    font-size: 14px;
  }

  .container {
    width: 320px;
  }


  .container .content span {
    display: block;
    width: 190px;
    height: 5px;
    border-radius: 3px;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .container .content span:nth-last-child(2) {
    margin-left: 110px;
  }


  .extra {
    min-width: 320px;
    flex-grow: 1;
  }

  .moon-freya-perspective {
    width: 300px;
    height: 300px;
  }

  .moon-freya {
    background: url('../images/freya-mobile.png') repeat-x;
  }

  .moon-freya:before {
    box-shadow: inset -20px 8px 40px 10px rgba(0, 0, 0, 0.5);
  }

  @keyframes move-moonfreya {
    0% {
      background-position: -600px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .home-moon {
    margin-left: -75px;
    margin-top: -200px;
  }

  .projects-moon {
    margin-left: 0px;
    margin-top: 0px;
  }

  .about-moon {
    margin-left: 40px;
    margin-top: 200px;
  }

  .contact-moon {
    margin-left: 50px;
    margin-top: 400px;
  }

  .moon-link {
    font-size: 3em;
  }

}



@media all and (min-width: 580px) and (max-width: 768px),
only screen and (min-device-width: 580px) and (max-device-width: 768px) and (orientation: landscape) {

  html {
    font-size: 14px;
  }

  .container {
    min-width: 227px;
    flex-grow: 0;
  }

  .container .content span {
    display: block;
    width: 190px;
    height: 5px;
    border-radius: 3px;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .container .content span:nth-last-child(2) {
    margin-left: 110px;
  }


  .extra {
    min-width: 227px;
    flex-grow: 0;
  }

  .moon-freya-perspective {
    width: 150px;
    height: 150px;
  }

  .moon-freya {
    background: url('../images/freya-mobile.png') repeat-x;
  }

  .moon-freya:before {
    box-shadow: inset -20px 8px 40px 10px rgba(0, 0, 0, 0.5);
  }

  @keyframes move-moonfreya {
    0% {
      background-position: -600px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .home-moon {
    margin-top: -200px;
  }

  .projects-moon {
    margin-top: 0px;
  }

  .about-moon {
    margin-top: 200px;
  }

  .contact-moon {
    margin-top: 400px;
  }

  .moon-link {
    font-size: 3em;
  }
}



@media only screen and (max-device-width: 1400px) and (orientation: portrait) {

  html {
    font-size: 13px;
  }

  section {
    flex-direction: column-reverse;
  }

  #moon-container {
    flex-direction: column-reverse;
  }

  .container {
    width: 100%;
    min-height: 20vh;
    flex-grow: 1;
    margin-left: 0;
    margin-bottom: 64px;
    justify-content: center;
  }

  .container .content {
    width: auto;
  }

  .container .content span {
    display: block;
    width: 60%;
    height: 5px;
    border-radius: 3px;
    z-index: 1;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .container .content span:nth-last-child(2) {
    margin-left: 30%;
  }


  .extra {
    min-height: 250px;
    height: 300px;
    width: 100%;
    flex-grow: 0;
  }

  .moon-freya-perspective {
    width: 150px;
    height: 150px;
  }

  .moon-freya {
    background: url('../images/freya-150.png') repeat-x;
  }

  .moon-freya:before {
    box-shadow: inset -10px 5px 30px 5px rgba(0, 0, 0, 0.5);
  }

  @keyframes move-moonfreya {
    0% {
      background-position: -300px 0;
    }

    100% {
      background-position: 0 0;
    }
  }

  .home-moon {
    margin-top: -10px;
    margin-left: -200px;
  }

  .projects-moon {
    margin-top: -5px;
    margin-left: -50px;
  }

  .about-moon {
    margin-top: 0px;
    margin-left: 100px;
  }

  .contact-moon {
    margin-top: 20px;
    margin-left: 250px;
  }

  .moon-link {
    font-size: 2em;
  }

}