/**
 * Margin changes top (to down)
 */

.margin-t10{
	margin-top: 10px;
}

.margin-t20{
	margin-top: 20px;
}

.margin-t30{
	margin-top: 30px;
}

.margin-t40{
	margin-top: 40px;
}

.margin-t50{
	margin-top: 50px;
}

.margin-t60{
	margin-top: 60px;
}

.margin-t70{
	margin-top: 70px;
}

.margin-t80{
	margin-top: 80px;
}

.margin-t90{
	margin-top: 90px;
}

.margin-t100{
	margin-top: 100px;
}

.margin-t110{
	margin-top: 110px;
}

.margin-t120{
	margin-top: 120px;
}

.margin-t130{
	margin-top: 130px;
}

.margin-t140{
	margin-top: 140px;
}

.margin-t150{
	margin-top: 150px;
}

.margin-t160{
	margin-top: 160px;
}

.margin-t170{
	margin-top: 170px;
}

.margin-t180{
	margin-top: 180px;
}

.margin-t190{
	margin-top: 190px;
}

.margin-t200{
	margin-top: 200px;
}

/**
 * Margin changes top (to up)
 */

.margin-d10{
	margin-top: -10px;
}

.margin-d20{
	margin-top: -20px;
}

.margin-d30{
	margin-top: -30px;
}

.margin-d40{
	margin-top: -40px;
}

.margin-d50{
	margin-top: -50px;
}

.margin-d60{
	margin-top: -60px;
}

.margin-d70{
	margin-top: -70px;
}

.margin-d80{
	margin-top: -80px;
}

.margin-d90{
	margin-top: -90px;
}

.margin-d100{
	margin-top: -100px;
}

.margin-d110{
	margin-top: -110px;
}

.margin-d120{
	margin-top: -120px;
}

.margin-d130{
	margin-top: -130px;
}

.margin-d140{
	margin-top: -140px;
}

.margin-d150{
	margin-top: -150px;
}

.margin-d160{
	margin-top: -160px;
}

.margin-d170{
	margin-top: -170px;
}

.margin-d180{
	margin-top: -180px;
}

.margin-d190{
	margin-top: -190px;
}

.margin-d200{
	margin-top: -200px;
}

/**
 * Margin changes left (to right)
 */

.margin-l10{
	margin-left: 10px;
}

.margin-l20{
	margin-left: 20px;
}

.margin-l30{
	margin-left: 30px;
}

.margin-l40{
	margin-left: 40px;
}

.margin-l50{
	margin-left: 50px;
}

.margin-l60{
	margin-left: 60px;
}

.margin-l70{
	margin-left: 70px;
}

.margin-l80{
	margin-left: 80px;
}

.margin-l90{
	margin-left: 90px;
}

.margin-l100{
	margin-left: 100px;
}

.margin-l110{
	margin-left: 110px;
}

.margin-l120{
	margin-left: 120px;
}

.margin-l130{
	margin-left: 130px;
}

.margin-l140{
	margin-left: 140px;
}

.margin-l150{
	margin-left: 150px;
}

.margin-l160{
	margin-left: 160px;
}

.margin-l170{
	margin-left: 170px;
}

.margin-l180{
	margin-left: 180px;
}

.margin-l190{
	margin-left: 190px;
}

.margin-l200{
	margin-left: 200px;
}

/**
 * Margin changes left (to up)
 */

.margin-r10{
	margin-left: -10px;
}

.margin-r20{
	margin-left: -20px;
}

.margin-r30{
	margin-left: -30px;
}

.margin-r40{
	margin-left: -40px;
}

.margin-r50{
	margin-left: -50px;
}

.margin-r60{
	margin-left: -60px;
}

.margin-r70{
	margin-left: -70px;
}

.margin-r80{
	margin-left: -80px;
}

.margin-r90{
	margin-left: -90px;
}

.margin-r100{
	margin-left: -100px;
}

.margin-r110{
	margin-left: -110px;
}

.margin-r120{
	margin-left: -120px;
}

.margin-r130{
	margin-left: -130px;
}

.margin-r140{
	margin-left: -140px;
}

.margin-r150{
	margin-left: -150px;
}

.margin-r160{
	margin-left: -160px;
}

.margin-r170{
	margin-left: -170px;
}

.margin-r180{
	margin-left: -180px;
}

.margin-r190{
	margin-left: -190px;
}

.margin-r200{
	margin-left: -200px;
}