/**
 * Side menu 
 */
#leftmenu {
  display: flex;
  width: 128px;
  height: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  align-items: center;
}

#leftmenu ul{
  list-style-type: none;
}

.leftnav {
  margin: 8px 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  border-left: #a67c00 10px solid;
}

.home {
  background: #09090e;
}

.projects {
  background: #181824;
}

.about {
  background: #27273c;
}

.contact {
  background: #363654;
}

.active {
  background-color: #a67c00;
  border-left: #bf9b30 10px solid;
}

@media only screen and (max-device-width: 1400px) and (orientation: portrait){

  #leftmenu {
    top: auto;
    width: 100%;
    height: 64px;
    top: 0;
    justify-content: flex-start;
  }

  #leftmenu li{
    display: inline-block;
  }

  .leftnav {
    margin: 4px 4px;
    height: 32px;
    width: 32px;
    border-left: #a67c00 4px solid;
  }

  .active {
  background-color: #a67c00;
  border-left: #bf9b30 10px solid;
}

  }