$scale: ("01": "0.1", "02": "0.2", "03": "0.3", "04":"0.4", "05": "0.5", "06":"0.6", "07":"0.7", "08":"0.8", "09":"0.9", "10":"1.0", "11":"1.1", "12":"1.2");

$top: ("0": "0", "d20": "20", "d40":"40","d60":"60","d80":"80","d100":"100", "d120":"120","u20":"-20","u40":"-40","u60":"-60","u80":"-80","u100":"-100", "u120":"-120");

$left: ("0": "0", "r20": "20","r40":"40","r60":"60","r80":"80","r100":"100", "r120":"120","l20":"-20","l40":"-40","l60":"-60","l80":"-80","l100":"-100", "l120":"-120");

$rotate: ("0deg", "45deg", "-45deg", "90deg", "-90deg");

@each $scaling, $i in $scale {
	@each $toptrans, $j in $top {
		@each $lefttrans, $k in $left{
      @each $rotating in $rotate{
        .trans-s#{$scaling}-#{$toptrans}-#{$lefttrans}-#{$rotating} {
          transform: scale3d(#{$i}, #{$i}, #{$i}) translate(#{$k}px, #{$j}px) rotate(#{$rotating});
        }
			}
		}
	}
}